.rotateEllipse {
    display: flex;
    justify-content: center;
    grid-column-gap: 4rem;
    grid-row-gap: 4rem;
    aspect-ratio: 1;
    border-radius: 50%;
    flex-flow: column;
    justify-content: center;
    align-items: flex-start;
    width: 250rem;
    display: flex;
    background-color: azure;
    position: absolute;
    left: 0;
    transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(-60deg) skew(0deg, 0deg);
  }

  .rotateCardFlexBox{
    justify-content: center;
    align-items: center;
    display: flex;
    position: absolute;
    top: 0%;
    bottom: 0%;
    right: 10rem;
    transform: none;
  }
  .rotateCardOne{
    aspect-ratio: 4.76 / 3.54;
    background-color: var(--gray-2);
    border-radius: 6rem;
    width: 16%;
    position: relative;
    left: -16%;
    overflow: hidden;
    transform: translate(45%, -8%) rotate(30deg);
  }
  .rotateCardTwo{
    transform: translate(11%, -7%) rotate(14deg);
    aspect-ratio: 4.76 / 3.54;
    background-color: var(--gray-2);
    border-radius: 6rem;
    width: 100px;
    height: 100px;
    position: relative;
    left: -16%;
    overflow: hidden;
  }
  .rotateCardThree{
    aspect-ratio: 4.76 / 3.54;
    background-color: var(--gray-2);
    border-radius: 6rem;
    width: 16%;
    position: relative;
    left: -16%;
    overflow: hidden;
  }
  .rotateCardFour{
    transform: translate(11%, 7%) rotate(-14deg);
    aspect-ratio: 4.76 / 3.54;
    background-color: var(--gray-2);
    border-radius: 6rem;
    width: 16%;
    position: relative;
    left: -16%;
    overflow: hidden;
  }
  