@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #282828;
  --primary: #C1272D;
  --white:#fff;
  --disabled:#868686;
  --linearStrokePrimary:#C1272D;
  --linearStrokeSecondary:#A86262;
  --linearStrokeTernary:#282828;
  --black:#181818;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #282828;
    --primary: #C1272D;
    --white:#fff;
    --disabled:#868686;
    --linearStrokePrimary:#C1272D;
    --linearStrokeSecondary:#A86262;
    --linearStrokeTernary:#282828;
    --black:#181818;
  }
}

body {
  background: var(--background);
  scroll-behavior: smooth;
}
